<app-header titulo="alerta"></app-header>
<ion-content>
  <ion-button (click)="funcionAlerta1()">Click Me</ion-button>
  <ion-button (click)="alertaPersonalizada()">Alerta</ion-button>
  <ion-button (click)="FormularioConsole()">Formulario console</ion-button>
  <ion-button id="funcionInputs">Input</ion-button>
<ion-alert
  trigger="funcionInputs"
  header="Please enter your info"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>
<ion-button id="funcionConsole">Console</ion-button>
<ion-alert
  trigger="funcionConsole"
  header="Alert!"
  [buttons]="consoleButtons"
  (didDismiss)="setResult($event)"
></ion-alert>
</ion-content>
