<ion-header><app-header titulo="Fab"></app-header></ion-header>

<ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="face"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-whatsapp" color="whats"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter" color="twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-linkedin" color="linke"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-label>hola {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
